## Creating the input files which are intersection to the cleaned folders

In [37]:
binary_folder_path = '/home/iscreen/Laterality_Data/Binary'
canon_folder_path = '/home/iscreen/Laterality_Data/Canon'
quad_folder_path = '/home/iscreen/Laterality_Data/Quad'
pent_folder_path = '/home/iscreen/Laterality_Data/Pent'

In [42]:
old_file1 = '/home/iscreen/Sierra/Master_Daddy_Project/Laterality/Stage_files/laterality_labels_binary.csv'
old_file2 = '/home/iscreen/Sierra/Master_Daddy_Project/Laterality/Stage_files/laterality_labels_canon_binary.csv'
old_file3 = '/home/iscreen/Sierra/Master_Daddy_Project/Laterality/Stage_files/laterality_labels_quad.csv'
old_file4 = '/home/iscreen/Sierra/Master_Daddy_Project/Laterality/Stage_files/laterality_labels_pent.csv'

In [43]:
import pandas as pd
df1 = pd.read_csv(old_file1)
df2 = pd.read_csv(old_file2)
df3 = pd.read_csv(old_file3)
df4 = pd.read_csv(old_file4)

In [44]:

df1.img = df1.img.str.replace('\.(jpeg|png|JPEG|jpg)$','.JPG', regex=True)
df2.img = df2.img.str.replace('\.(jpeg|png|JPEG|jpg)$','.JPG', regex=True)
df3.img = df3.img.str.replace('\.(jpeg|png|JPEG|jpg)$','.JPG', regex=True)
df4.img = df4.img.str.replace('\.(jpeg|png|JPEG|jpg)$','.JPG', regex=True)

In [10]:
## folden normalisation

import glob
import os



total_files = glob.glob(pent_folder_path)

for image in total_files:
    base = os.path.splitext(image)[0]
    os.rename(image, base+'.JPG')

In [21]:
print(f'binary:{len(df1)}, canon:{len(df2)}, quad:{len(df3)}, pent:{len(df4)}')

binary:11402, canon:16179, quad:27579, pent:72739

In [22]:
print(f'binary:{len(binary_files)}, canon:{len(canon_files)}, quad:{len(quad_files)}, pent:{len(pent_files)}')

binary:8239, canon:11486, quad:19718, pent:54217

In [52]:
print(f'binary:{len(df1_folder)}, canon:{len(df2_folder)}, quad:{len(df3_folder)}, pent:{len(df4_folder)}')

binary:8241, canon:11487, quad:19727, pent:54381

In [64]:
df1_folder.head()

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right,Grader,Unsure,labels
0,169867_1085472.JPG,0,1,0,0,0,0,Lynn,NaN,1
1,169867_1085477.JPG,1,0,0,0,0,0,Lynn,NaN,0
2,169883_1085597.JPG,0,1,0,0,0,0,Lynn,NaN,1
3,169883_1085599.JPG,0,1,0,0,0,0,Lynn,NaN,1
4,169883_1085602.JPG,1,0,0,0,0,0,Lynn,NaN,0

In [66]:
merged = pd.merge(df1_folder,  binary_list_df, on='img', how='outer', indicator=True)
merged

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right,Grader,Unsure,labels,_merge
0,169867_1085472.JPG,0,1,0,0,0,0,Lynn,NaN,1,both
1,169867_1085477.JPG,1,0,0,0,0,0,Lynn,NaN,0,both
2,169883_1085597.JPG,0,1,0,0,0,0,Lynn,NaN,1,both
3,169883_1085599.JPG,0,1,0,0,0,0,Lynn,NaN,1,both
4,169883_1085602.JPG,1,0,0,0,0,0,Lynn,NaN,0,both
...,...,...,...,...,...,...,...,...,...,...,...
8236,182325_1167926.JPG,1,0,0,0,0,0,Arjun,NaN,0,both
8237,188309_1208332.JPG,1,0,0,0,0,0,Arjun,NaN,0,both
8238,193315_1246082.JPG,0,1,0,0,0,0,Arjun,NaN,1,both
8239,198783_1286282.JPG,0,1,0,0,0,0,Arjun,NaN,1,both
8240,233023_1533571.JPG,1,0,0,0,0,0,Arjun,NaN,0,both

In [69]:
merged['_merge'].value_counts()

both          8241
left_only        0
right_only       0
Name: _merge, dtype: int64

In [67]:
unique_to_df1 = merged[merged['_merge'] == 'left_only']
unique_to_df1

Empty DataFrame
Columns: [img, Interior_Left, Interior_Right, Exterior, Other, Canon_Left, Canon_Right, Grader, Unsure, labels, _merge]
Index: []

In [68]:
unique_to_df2 = merged[merged['_merge'] == 'right_only']
unique_to_df2

Empty DataFrame
Columns: [img, Interior_Left, Interior_Right, Exterior, Other, Canon_Left, Canon_Right, Grader, Unsure, labels, _merge]
Index: []

In [54]:
binary_list_df = pd.DataFrame(binary_files, columns=['img'])
binary_list_df

                     img
0     262963_1747797.JPG
1     292446_1969263.JPG
2     179146_1145912.JPG
3     182325_1167929.JPG
4     325042_2226472.JPG
...                  ...
8234  199289_1290160.JPG
8235  209701_1367332.JPG
8236  189474_1217183.JPG
8237  211961_1383323.JPG
8238  176316_1127911.JPG

[8239 rows x 1 columns]

In [55]:
df1_folder

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right,Grader,Unsure,labels
0,169867_1085472.JPG,0,1,0,0,0,0,Lynn,NaN,1
1,169867_1085477.JPG,1,0,0,0,0,0,Lynn,NaN,0
2,169883_1085597.JPG,0,1,0,0,0,0,Lynn,NaN,1
3,169883_1085599.JPG,0,1,0,0,0,0,Lynn,NaN,1
4,169883_1085602.JPG,1,0,0,0,0,0,Lynn,NaN,0
...,...,...,...,...,...,...,...,...,...,...
11395,182325_1167926.JPG,1,0,0,0,0,0,Arjun,NaN,0
11396,188309_1208332.JPG,1,0,0,0,0,0,Arjun,NaN,0
11397,193315_1246082.JPG,0,1,0,0,0,0,Arjun,NaN,1
11398,198783_1286282.JPG,0,1,0,0,0,0,Arjun,NaN,1
11399,233023_1533571.JPG,1,0,0,0,0,0,Arjun,NaN,0

In [58]:
merged = pd.merge(df1_folder, binary_list_df, how='outer', indicator=True)

In [59]:
# select the rows that are unique to df1 or df2
unique_to_df1 = merged[merged['_merge'] == 'left_only']
unique_to_df2 = merged[merged['_merge'] == 'right_only']

Empty DataFrame
Columns: [img, Interior_Left, Interior_Right, Exterior, Other, Canon_Left, Canon_Right, Grader, Unsure, labels, _merge]
Index: []

In [61]:
unique_to_df2

Empty DataFrame
Columns: [img, Interior_Left, Interior_Right, Exterior, Other, Canon_Left, Canon_Right, Grader, Unsure, labels, _merge]
Index: []

In [36]:
df4[df4.duplicated()]

Empty DataFrame
Columns: [img, Interior_Left, Interior_Right, Exterior, Other, Canon_Left, Canon_Right, Grader, Unsure, labels]
Index: []

In [28]:
df1[~df1['img'].isin(binary_files)]

Empty DataFrame
Columns: [img, Interior_Left, Interior_Right, Exterior, Other, Canon_Left, Canon_Right, Grader, Unsure, labels]
Index: []

In [29]:
df2[~df2['img'].isin(canon_files)]

Empty DataFrame
Columns: [img, Interior_Left, Interior_Right, Exterior, Other, Canon_Left, Canon_Right, Grader, Unsure, labels]
Index: []

In [30]:
df3[~df3['img'].isin(quad_files)]

Empty DataFrame
Columns: [img, Interior_Left, Interior_Right, Exterior, Other, Canon_Left, Canon_Right, Grader, Unsure, labels]
Index: []

In [31]:
df4[~df4['img'].isin(pent_files)]

Empty DataFrame
Columns: [img, Interior_Left, Interior_Right, Exterior, Other, Canon_Left, Canon_Right, Grader, Unsure, labels]
Index: []

In [13]:
## Convert files to a folder to a dataframe


binary_files = os.listdir(binary_folder_path)
len(binary_files)

8239

In [14]:
canon_files = os.listdir(canon_folder_path)
len(canon_files)

11486

In [15]:
quad_files = os.listdir(quad_folder_path)
len(quad_files)

19718

In [16]:
pent_files = os.listdir(pent_folder_path)
len(pent_files)

54217

In [48]:
df1_folder = df1[df1['img'].isin(binary_files)]
len(df1_folder)

8241

In [49]:
df2_folder = df2[df2['img'].isin(canon_files)]
len(df2_folder)

11487

In [50]:
df3_folder = df3[df3['img'].isin(quad_files)]
df4_folder = df4[df4['img'].isin(pent_files)]