## Set 1

In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/eyelabelingcomplete_Varun_Subset_1/assigned_classes_second_half.csv')
df1

,img,Internal_OS,Internal_OD,Canon_OS,Canon_OD,External,Other
0,258596_1716461.jpg,0,0,1,0,0,0
1,258597_1716463.JPG,0,0,0,0,0,1
2,258597_1716468.JPG,0,1,0,0,0,0
3,258610_1716573.JPG,0,0,0,0,1,0
4,258610_1716578.JPG,0,0,0,0,0,1
...,...,...,...,...,...,...,...
5995,300947_2036170.JPG,1,0,0,0,0,0
5996,300989_2036509.jpg,0,0,0,0,0,1
5997,300989_2036513.jpg,1,0,0,0,0,0
5998,300989_2036514.jpg,0,0,0,0,0,1
5999,300998_2036579.JPG,0,0,0,0,0,1

In [4]:
df2 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/eyelabelingcomplete_Varun_Subset_1/assigned_classes_second_split (1).csv')
df2

,img,Internal_OS,Internal_OD,Canon_OS,Canon_OD,External,Other
0,258596_1716461.jpg,0,0,0,0,0,1
1,258597_1716463.JPG,0,0,0,0,0,1
2,258597_1716468.JPG,0,1,0,0,0,0
3,258610_1716573.JPG,0,0,0,0,1,0
4,258610_1716578.JPG,0,0,0,0,0,1
...,...,...,...,...,...,...,...
3022,307180_2085882.jpg,0,1,0,0,0,0
3023,307180_2085883.jpg,1,0,0,0,0,0
3024,307184_2085963.JPG,0,0,0,0,0,1
3025,307185_2085909.JPG,0,1,0,0,0,0
3026,307185_2085912.JPG,0,0,0,0,1,0

In [5]:
df3 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/eyelabelingcomplete_Varun_Subset_1/assigned_classes_third.csv')
df3

,img,Internal_OS,Internal_OD,Canon_OS,Canon_OD,External,Other
0,307185_2085914.JPG,1,0,0,0,0,0
1,307193_2085967.jpg,0,0,0,0,0,1
2,307193_2085969.jpg,0,0,0,0,0,1
3,307222_2086217.JPG,0,0,0,0,1,0
4,307237_2086390.JPG,0,0,0,0,1,0
...,...,...,...,...,...,...,...
4227,515841_7197739.JPG,0,0,0,0,1,0
4228,515853_7197816.JPG,0,1,0,0,0,0
4229,515853_7197818.JPG,0,1,0,0,0,0
4230,515874_7197933.JPG,1,0,0,0,0,0
4231,515972_7198423.JPG,1,0,0,0,0,0

In [6]:
df4 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/eyelabelingcomplete_Varun_Subset_1/assigned_classes.csv')
df4

,img,Canon_OS,Canon_OD,Internal_OS,Internal_OD,External,Other
0,169814_1085326.JPG,0,0,0,0,1,0
1,169855_1085385.jpg,0,1,0,0,0,0
2,169866_1085467.JPG,0,0,0,0,1,0
3,169866_1085470.JPG,0,1,0,0,0,0
4,169867_1085478.JPG,0,0,0,0,0,1
...,...,...,...,...,...,...,...
9996,246669_1627978.JPG,0,1,0,0,0,0
9997,246696_1628187.JPG,0,0,0,0,1,0
9998,246696_1628189.JPG,0,0,0,1,0,0
9999,246699_1628207.jpg,0,0,0,0,1,0
10000,246699_1628212.jpg,0,0,0,0,0,1

In [7]:
total_varun = pd.concat([df1, df2, df3, df4])
total_varun

,img,Internal_OS,Internal_OD,Canon_OS,Canon_OD,External,Other
0,258596_1716461.jpg,0,0,1,0,0,0
1,258597_1716463.JPG,0,0,0,0,0,1
2,258597_1716468.JPG,0,1,0,0,0,0
3,258610_1716573.JPG,0,0,0,0,1,0
4,258610_1716578.JPG,0,0,0,0,0,1
...,...,...,...,...,...,...,...
9996,246669_1627978.JPG,0,0,0,1,0,0
9997,246696_1628187.JPG,0,0,0,0,1,0
9998,246696_1628189.JPG,0,1,0,0,0,0
9999,246699_1628207.jpg,0,0,0,0,1,0
10000,246699_1628212.jpg,0,0,0,0,0,1

In [8]:
total_varun.to_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/total_varun.csv')

In [14]:
total_varun['Other'].sum()

6946

In [15]:
total_varun['Internal_OS'].sum()

2140

In [16]:
total_varun['Internal_OD'].sum()

1917

In [17]:
total_varun['Canon_OD'].sum()

3469

In [18]:
total_varun['Canon_OS'].sum()

3128

In [19]:
total_varun['External'].sum()

5660