In [1]:
import pandas as pd

In [2]:
small_michael1 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Michael_DeBuc Image Labeling/assigned_classes final 8000.csv')
small_michael2 = pd.read_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/Michael_DeBuc Image Labeling/assigned_classes first 15,000.csv')

In [3]:
small_michael1.head()

,img,Other,External,Right_Interior,Left_Interior,Canon_OD,Canon_OS
0,286431_1923042.JPG,1,0,0,0,0,0
1,286431_1923043.JPG,1,0,0,0,0,0
2,286464_1923380.JPG,0,1,0,0,0,0
3,286466_1923393.JPG,1,0,0,0,0,0
4,286496_1923646.jpg,1,0,0,0,0,0

In [23]:
small_michael2.head()

,img,Other,External,Right_Interior,Left_Interior,Canon_OD,Canon_OS
0,169814_1085324.JPG,1,0,0,0,0,0
1,169814_1085329.JPG,0,0,0,0,0,1
2,169855_1085387.jpg,1,0,0,0,0,0
3,169866_1085464.JPG,0,0,0,0,1,0
4,169866_1085466.JPG,0,0,0,0,1,0

In [21]:
small_michael2.rename(columns={'Right_Internal':"Right_Interior","Left_Internal":"Left_Interior"}, inplace=True)

In [25]:
total_michael = pd.concat([small_michael1, small_michael2])

In [1]:
total_michael

NameError: name 'total_michael' is not defined

In [33]:
total_michael.to_csv('/Users/swastik/ophthalmology/Daddy_Project/Laterality/Data_Staging/Input_files/total_michael.csv')

In [27]:
total_michael['Other'].sum()

14089

In [28]:
total_michael['External'].sum()

5353

In [29]:
total_michael['Right_Interior'].sum()

632

In [30]:
total_michael['Left_Interior'].sum()

495

In [31]:
total_michael['Canon_OD'].sum()

1367

In [32]:
total_michael['Canon_OS'].sum()

1075