## Responsible for data division

In [73]:
import pandas as pd

In [74]:
total_laterality = pd.read_csv("/Users/swastik/ophthalmology/Master_Daddy_Project/Laterality/Data_Staging/Notebooks/Revamped_Notebooks/total_laterality_master_file.csv")
total_laterality

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right,Grader,New_Extension
0,169814_1085325.jpg,0,0,0,1,0,0,Lynn,jpg
1,169814_1085328.jpg,0,0,0,1,0,0,Lynn,jpg
2,169855_1085382.jpg,0,0,1,0,0,0,Lynn,jpg
3,169855_1085384.jpg,0,0,0,1,0,0,Lynn,jpg
4,169855_1085388.jpg,0,0,0,1,0,0,Lynn,jpg
...,...,...,...,...,...,...,...,...,...
94909,279218_1871173.jpg,0,0,0,1,0,0,Arjun,jpg
94910,279385_1872264.jpg,0,0,1,0,0,0,Arjun,jpg
94911,279413_1872492.jpg,0,0,0,1,0,0,Arjun,jpg
94912,279413_1872493.jpg,0,0,0,1,0,0,Arjun,jpg
94913,279445_1872749.jpg,0,0,1,0,0,0,Arjun,jpg

In [75]:
total_laterality['labels'] = -1
total_laterality.head()

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right,Grader,New_Extension,labels
0,169814_1085325.jpg,0,0,0,1,0,0,Lynn,jpg,-1
1,169814_1085328.jpg,0,0,0,1,0,0,Lynn,jpg,-1
2,169855_1085382.jpg,0,0,1,0,0,0,Lynn,jpg,-1
3,169855_1085384.jpg,0,0,0,1,0,0,Lynn,jpg,-1
4,169855_1085388.jpg,0,0,0,1,0,0,Lynn,jpg,-1

In [76]:
total_laterality.loc[total_laterality['Interior_Left'] == 1,'labels'] = 0
total_laterality.loc[total_laterality['Interior_Right'] == 1,'labels'] = 1
total_laterality.loc[total_laterality['Exterior'] == 1,'labels'] = 2
total_laterality.loc[total_laterality['Canon_Left'] == 1,'labels'] = 3
total_laterality.loc[total_laterality['Canon_Right'] == 1,'labels'] = 4
total_laterality.loc[total_laterality['Other'] == 1,'labels'] = 5

In [77]:
bool_df

       Interior_Left  Interior_Right  Exterior  Canon_Left  Canon_Right  Other
0              False           False     False       False        False   True
1              False           False     False       False        False   True
2              False           False      True       False        False  False
3              False           False     False       False        False   True
4              False           False     False       False        False   True
...              ...             ...       ...         ...          ...    ...
94909          False           False     False       False        False   True
94910          False           False      True       False        False  False
94911          False           False     False       False        False   True
94912          False           False     False       False        False   True
94913          False           False      True       False        False  False

[94914 rows x 6 columns]

In [78]:
bool_df = total_laterality[['Interior_Left', 'Interior_Right', 'Exterior', 'Canon_Left', 'Canon_Right', 'Other']] == 1
one_hot_encoded = (bool_df.sum(axis=1) == 1).all()
print("Is the DataFrame one-hot encoded?", one_hot_encoded)

Is the DataFrame one-hot encoded? False

In [79]:
bool_df = total_laterality[['Interior_Left', 'Interior_Right', 'Exterior', 'Canon_Left', 'Canon_Right', 'Other']] == 1
count_of_ones = bool_df.sum(axis=1)
# Find the rows with more than one '1' or no '1'
rows_with_multiple_ones = count_of_ones[count_of_ones > 1]
rows_with_no_ones = count_of_ones[count_of_ones == 0]

# Display the problematic rows
print("Rows with multiple 1s:")
print(rows_with_multiple_ones)

print("\nRows with no 1s:")
print(rows_with_no_ones)

Rows with multiple 1s:
25100    2
27038    2
27592    2
27952    2
28067    2
28082    2
28154    2
28297    2
28772    2
28790    2
28819    2
29465    2
29498    2
29499    2
29504    2
30239    2
30686    2
30772    2
31598    2
31688    2
32303    2
32774    2
33165    2
33297    2
33856    2
34153    2
34441    2
35111    2
35243    2
35350    2
35543    2
35838    2
35941    2
35966    2
36484    2
36610    2
36611    2
36867    2
37031    2
37161    2
37573    2
37591    2
37635    2
38372    2
38438    2
38547    2
dtype: int64

Rows with no 1s:
Series([], dtype: int64)

In [80]:
# Inspect the problematic rows
print("Data for rows with multiple 1s:")
len(total_laterality.loc[rows_with_multiple_ones.index])

Data for rows with multiple 1s:

46

In [82]:
total_laterality = total_laterality.drop(rows_with_multiple_ones.index)
total_laterality.reset_index(drop=True, inplace=True)

In [84]:
total_laterality['labels'].value_counts()

5    45067
2    22385
3     8071
4     7993
0     6179
1     5173
Name: labels, dtype: int64

In [85]:
45067 + 22385 + 8071 + 7993 + 6179 + 5173

94868

In [68]:
# Inspect the problematic rows
print("Data for rows with No 1s:")
total_laterality.loc[rows_with_no_ones.index]

Data for rows with No 1s:

Empty DataFrame
Columns: [img, Interior_Left, Interior_Right, Exterior, Other, Canon_Left, Canon_Right, Grader, New_Extension, labels]
Index: []

In [45]:
total_laterality = total_laterality.drop(rows_with_multiple_ones.index)

In [96]:
total_laterality

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right,Grader,New_Extension,labels
0,169814_1085325.jpg,0,0,0,1,0,0,Lynn,jpg,5
1,169814_1085328.jpg,0,0,0,1,0,0,Lynn,jpg,5
2,169855_1085382.jpg,0,0,1,0,0,0,Lynn,jpg,2
3,169855_1085384.jpg,0,0,0,1,0,0,Lynn,jpg,5
4,169855_1085388.jpg,0,0,0,1,0,0,Lynn,jpg,5
...,...,...,...,...,...,...,...,...,...,...
94863,279218_1871173.jpg,0,0,0,1,0,0,Arjun,jpg,5
94864,279385_1872264.jpg,0,0,1,0,0,0,Arjun,jpg,2
94865,279413_1872492.jpg,0,0,0,1,0,0,Arjun,jpg,5
94866,279413_1872493.jpg,0,0,0,1,0,0,Arjun,jpg,5
94867,279445_1872749.jpg,0,0,1,0,0,0,Arjun,jpg,2

In [34]:
total_labels = total_laterality['labels'].sum()
print("Sum of 'labels' column:", total_labels)

Sum of 'labels' column: 331674

In [94]:
total_laterality['labels'].value_counts()

5    45067
2    22385
3     8071
4     7993
0     6179
1     5173
Name: labels, dtype: int64

In [95]:
45067 + 22385 + 8071 + 7993 + 6179 + 5173

94868

In [44]:
total_laterality['labels'].value_counts()

5    45102
2    22387
3     8075
4     7998
0     6179
1     5173
Name: labels, dtype: int64

In [55]:
45102 + 22387 + 8075 + 7998 + 6179 + 5173

94914

In [32]:
total_laterality['Canon_Left'].unique()

array([0, 1])

In [23]:
total_laterality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94914 entries, 0 to 94913
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   img             94914 non-null  object
 1   Interior_Left   94914 non-null  int64
 2   Interior_Right  94914 non-null  int64
 3   Exterior        94914 non-null  int64
 4   Other           94914 non-null  int64
 5   Canon_Left      94914 non-null  int64
 6   Canon_Right     94914 non-null  int64
 7   Grader          94914 non-null  object
 8   New_Extension   94914 non-null  object
 9   labels          94914 non-null  int64
dtypes: int64(7), object(3)
memory usage: 7.2+ MB

In [27]:
45102+22387+8075+7998+6179+5173

94914

In [86]:
total_laterality['Interior_Left'].value_counts()

0    88689
1     6179
Name: Interior_Left, dtype: int64

In [87]:
total_laterality['Interior_Left'].sum()

6179

In [88]:
total_laterality['Interior_Right'].sum()

5173

In [89]:
total_laterality['Exterior'].sum()

22385

In [92]:
total_laterality['Canon_Left'].sum()

8071

In [93]:
total_laterality['Canon_Right'].sum()

7993

In [91]:
total_laterality['Other'].sum()

45067

In [10]:
total_laterality['Other'].value_counts()

0    49812
1    45102
Name: Other, dtype: int64

In [11]:
total_laterality['Canon_Left'].value_counts()

0    86829
1     8085
Name: Canon_Left, dtype: int64

In [12]:
total_laterality['Canon_Left'].sum()

8085

In [13]:
total_laterality['Canon_Right'].sum()

8007

In [14]:
total_laterality['Canon_Right'].value_counts()

0    86907
1     8007
Name: Canon_Right, dtype: int64

In [28]:
6183+5178+22405+45102+8085+8007

94960

In [35]:
total_laterality

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right,Grader,New_Extension,labels
0,169814_1085325.jpg,0,0,0,1,0,0,Lynn,jpg,5
1,169814_1085328.jpg,0,0,0,1,0,0,Lynn,jpg,5
2,169855_1085382.jpg,0,0,1,0,0,0,Lynn,jpg,2
3,169855_1085384.jpg,0,0,0,1,0,0,Lynn,jpg,5
4,169855_1085388.jpg,0,0,0,1,0,0,Lynn,jpg,5
...,...,...,...,...,...,...,...,...,...,...
94909,279218_1871173.jpg,0,0,0,1,0,0,Arjun,jpg,5
94910,279385_1872264.jpg,0,0,1,0,0,0,Arjun,jpg,2
94911,279413_1872492.jpg,0,0,0,1,0,0,Arjun,jpg,5
94912,279413_1872493.jpg,0,0,0,1,0,0,Arjun,jpg,5
94913,279445_1872749.jpg,0,0,1,0,0,0,Arjun,jpg,2

In [41]:
total_laterality[total_laterality.duplicated(subset=['labels'])]

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right,Grader,New_Extension,labels
1,169814_1085328.jpg,0,0,0,1,0,0,Lynn,jpg,5
3,169855_1085384.jpg,0,0,0,1,0,0,Lynn,jpg,5
4,169855_1085388.jpg,0,0,0,1,0,0,Lynn,jpg,5
5,169855_1085389.jpg,0,0,0,1,0,0,Lynn,jpg,5
8,169867_1085473.jpg,0,0,0,1,0,0,Lynn,jpg,5
...,...,...,...,...,...,...,...,...,...,...
94909,279218_1871173.jpg,0,0,0,1,0,0,Arjun,jpg,5
94910,279385_1872264.jpg,0,0,1,0,0,0,Arjun,jpg,2
94911,279413_1872492.jpg,0,0,0,1,0,0,Arjun,jpg,5
94912,279413_1872493.jpg,0,0,0,1,0,0,Arjun,jpg,5
94913,279445_1872749.jpg,0,0,1,0,0,0,Arjun,jpg,2

In [37]:
total_laterality.columns[(total_laterality == 1).all()]

Index([], dtype='object')

In [98]:
total_laterality.to_csv('total_laterality_master_file.csv',index=False)

In [99]:
total_laterality

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right,Grader,New_Extension,labels
0,169814_1085325.jpg,0,0,0,1,0,0,Lynn,jpg,5
1,169814_1085328.jpg,0,0,0,1,0,0,Lynn,jpg,5
2,169855_1085382.jpg,0,0,1,0,0,0,Lynn,jpg,2
3,169855_1085384.jpg,0,0,0,1,0,0,Lynn,jpg,5
4,169855_1085388.jpg,0,0,0,1,0,0,Lynn,jpg,5
...,...,...,...,...,...,...,...,...,...,...
94863,279218_1871173.jpg,0,0,0,1,0,0,Arjun,jpg,5
94864,279385_1872264.jpg,0,0,1,0,0,0,Arjun,jpg,2
94865,279413_1872492.jpg,0,0,0,1,0,0,Arjun,jpg,5
94866,279413_1872493.jpg,0,0,0,1,0,0,Arjun,jpg,5
94867,279445_1872749.jpg,0,0,1,0,0,0,Arjun,jpg,2

In [100]:
total_laterality['labels'].value_counts()

5    45067
2    22385
3     8071
4     7993
0     6179
1     5173
Name: labels, dtype: int64

In [101]:
## Checking the file input

In [106]:
train_csv_file = '/Users/swastik/ophthalmology/Master_Daddy_Project/Laterality/Stage_files/Split_Final_Staged_Files/Total/total_laterality_train_2023-03-30_17-42-47.csv'
valid_csv_file = '/Users/swastik/ophthalmology/Master_Daddy_Project/Laterality/Stage_files/Split_Final_Staged_Files/Total/total_laterality_valid_2023-03-30_17-42-47.csv'
test_csv_file = '/Users/swastik/ophthalmology/Master_Daddy_Project/Laterality/Stage_files/Split_Final_Staged_Files/Total/total_laterality_test_2023-03-30_17-42-47.csv'
df_train = pd.read_csv(train_csv_file, engine='python').iloc[:, :]
df_valid = pd.read_csv(valid_csv_file, engine='python').iloc[:, :]
df_test = pd.read_csv(test_csv_file, engine='python').iloc[:, :]

In [107]:
df_train

,img,Interior_Left,Interior_Right,Exterior,Other,Canon_Left,Canon_Right,Grader,New_Extension,labels
0,181481_1161659.jpg,0,0,0,1,0,0,Varun,jpg,5
1,313152_2133751.jpg,0,0,0,1,0,0,Michael,jpg,5
2,189275_1215650.jpg,0,0,0,1,0,0,Lynn,jpg,5
3,325402_2229298.jpg,0,0,0,1,0,0,Ignacio,jpg,5
4,278795_1868121.jpg,0,0,0,1,0,0,Ignacio,jpg,5
...,...,...,...,...,...,...,...,...,...,...
75891,219491_1437074.jpg,0,0,1,0,0,0,Lynn,jpg,2
75892,67126_316387.jpg,0,0,0,1,0,0,Michael,jpg,5
75893,301296_2039105.jpg,0,0,1,0,0,0,Varun,jpg,2
75894,177979_1137436.jpg,0,0,1,0,0,0,Lynn,jpg,2
75895,288512_1938978.jpg,0,0,0,1,0,0,Lynn,jpg,5

In [111]:
df_train['Grader'].value_counts()

Michael    19586
Lynn       19194
Ignacio    18910
Varun      15581
Arjun       2625
Name: Grader, dtype: int64

In [112]:
df_valid['Grader'].value_counts()

Varun      2744
Lynn       2440
Ignacio    2422
Michael    1695
Arjun       185
Name: Grader, dtype: int64

In [113]:
df_test['Grader'].value_counts()

Varun      2763
Ignacio    2429
Lynn       2374
Michael    1730
Arjun       190
Name: Grader, dtype: int64